# ----------------------------------------------------
# Secure file
# ----------------------------------------------------
DJANGO_ENV=production

# ----------------------------------------------------
# Django
# ----------------------------------------------------
DEBUG=True
DJANGO_ALLOWED_HOSTS=server_name.example.com,localhost

DJANGO_CORS_ALLOWED_ORIGINS=https://server_name.example.com,https://cas-authentification.example.com
DJANGO_CSRF_TRUSTED_ORIGINS=http://localhost:3030,http://localhost:8030,https://server_name.example.com,https://cas-authentification.example.com
DJANGO_CORS_ORIGIN_WHITELIST=http://localhost:3030,http://localhost:8030,https://server_name.example.com,https://cas-authentification.example.com


# ----------------------------------------------------
# CAS Authentication Settings
# ----------------------------------------------------
DJANGO_CAS_SERVER_URL=https://cas-authentification.example.com
DJANGO_CAS_VERSION=3

# ----------------------------------------------------
# Django Superuser variables
# ----------------------------------------------------
DJANGO_SUPERUSER_USERNAME=admin
DJANGO_SUPERUSER_EMAIL=admin@example.fr
DJANGO_SUPERUSER_PASSWORD=admin1234

# ----------------------------------------------------
# Email
# ----------------------------------------------------
EMAIL_HOST=
EMAIL_HOST_USER=
EMAIL_PORT=
EMAIL_USE_TLS=

# ----------------------------------------------------
# Database Settings
# Postgres Settings
# ----------------------------------------------------
# DB_HOST=db
DB_NAME=apptestmatostheque
DB_USER=apptestmatostheque_user
DB_PASSWORD=Toto123!

POSTGRES_DB=apptestmatostheque
POSTGRES_USER=apptestmatostheque_user
POSTGRES_PASSWORD=Toto123!

# ----------------------------------------------------
# SECRET KEY for Django
# ----------------------------------------------------
SECRET_KEY=''

# ----------------------------------------------------
# To this (use the exact domain serving your frontend):
# ----------------------------------------------------
NEXT_PUBLIC_API_URL=https://server_name.example.com/api/