.env
node_modules/

.idea/
/.matostheque_venv/
logs/
assets/

docker-compose.yml

nginx/nginx.conf
nginx/ssl/liphy-crip-hps1.u-ga.fr_fullchain.pem
nginx/ssl/liphy-crip-hps1.u-ga.fr.key

fronttheque/.env
fronttheque/.next
fronttheque/node_modules/
fronttheque/src/utils/config.js
fronttheque/Dockerfile

traefik-tls.yml

mutmat_server.conf

__pycache__/
