.env
node_modules/

.idea/
matostheque_venv/
logs/
assets

nginx/nginx.conf
nginx/ssl

media/
media/users/

fronttheque/.env
fronttheque/.next
fronttheque/node_modules/
fronttheque/jsconfig.json__pycache__/
