.env
node_modules/

.idea/
/.matostheque_venv/
logs/
assets/

nginx/nginx.conf
nginx/ssl/

media/images/users/
media/logos/

fronttheque/.env
fronttheque/.next
fronttheque/node_modules/
fronttheque/jsconfig.json
fronttheque/src/utils/config.js

mutmat_server.conf

__pycache__/
