<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Loan Request Declined Template</title>
    <style>
        body {
            font-family: 'Montserrat', sans-serif;
        }
        .container {
            background-color: #f5f5f5;
            padding: 20px;
        }
        h2 {
            color: #333;
        }
        p {
            color: #666;
        }
    </style>
</head>
<body>

```
<div class="container">
    <h2>Your loan request was refused.</h2><br />
    <p>Hi {{ borrower.first_name }},</p>
    <p>Unfortunately, your request to borrow the material <b>{{ material.name }}</b> has been refused by its owner.</p>
    <p>You may browse other available materials or contact the owner for more information if needed.</p>
    <p><em>If this action doesn't concern you, please ignore this email.</em></p>
    <p>Thanks,<br><b>Team Mutmat</b></p>
</div>
```

</body>
</html>
